<div class="comments row">
  {{#each this}}
  <section class="comment gx-0">
    <div class="comment-head">
      <div class="comment-info">
        {{user.username}} on {{format_date created_at}}
      </div>
    </div>
    <div class="comment-text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>