<!-- Dashboard section -->

<!-- Create post section -->
<section class="mt-5 container">
  <h1>Create New Post</h2>
  <div class="form-section d-flex row gx-0">
    <form class="form-wrapper new-post-form">
      <div class="mb-3">
        <label for="post-title" class="form-label form-label-override">Post Title: </label>
        <textarea id="post-title" class = "form-control" rows=1 name="post-title"></textarea>
      </div>
      <div class="mb-3">
        <label for="post-body" class="form-label form-label-override">Post Text: </label>
        <textarea id="post-text" class = "form-control" rows=4 name="post-body"></textarea>
      </div>
      <div>
        <button class = "btn btn-secondary" type="submit">Create post</button>
      </div>
    </form>
  </div>
</section>

<!-- Display posts section -->
{{#if posts.length}}
<section class="mt-4 container post-container">
  <h1>Your Posts</h1>
    {{#each posts as |post|}}
        {{> post-info post}}
    {{/each}}
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>
<script src="/javascript/edit-post.js"></script>