<div class="container">
  <div class="d-flex row gx-0">
    {{> post-info post }}
  </div>

  {{#if loggedIn}}
  <div class="comment-section d-flex row gx-0">
    <form class="comment-form">
      <div>
        <label for="comment-body" class="form-label comment-label">Write your own comment!</label>
        <textarea id="comment-text" class = "form-control" rows=4 name="comment-body"></textarea>
      </div>

      <div>
        <button class = "btn btn-secondary" type="submit">Add comment</button>
      </div>
    </form>
  </div>
  {{/if}}
  <h1 class = "comments-header">Comments:</h1>
  {{> comments post.comments}}
  {{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  {{/if}}
</section>