<!-- Post and comments container -->
<div class="container">
  <!-- Post information section -->
  <div class="d-flex row gx-0">
    {{> post-info post }}
  </div>

  <!-- If logged in, display add a comment section -->
  {{#if loggedIn}}
  <div class="form-section d-flex row gx-0">
    <form class="form-wrapper comment-form">
      <div>
        <label for="comment-body" class="form-label form-label-override">Write your own comment!</label>
        <textarea id="comment-text" class = "form-control" rows=4 name="comment-body"></textarea>
      </div>

      <div>
        <button class = "btn btn-secondary" type="submit">Add comment</button>
      </div>
    </form>
  </div>
  {{/if}}

  <!-- Display comments -->
  <h1 class = "comments-header">Comments:</h1>
  {{> comments post.comments}}

  <!-- If logged in then load resource -->
  {{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  {{/if}}
</div>