/* Removes legacy styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-2);
}

:root {
  --color-1: rgb(34,16,15); 
  --color-2: rgb(217,234,211);
  --color-3: rgb(217,234,211,0.75);
  --color-4: rgb(217,234,211,0.50);
  --color-5: rgb(167,167,167);
  --color-6: rgb(34,16,15,0.85);
  --color-7: rgb(34,16,15,0.65);
}

#head {
  padding-top: 10px;
  padding-left: 60px;
  padding-bottom: 60px;
  background-color: var(--color-1);
}

#title-bg {
  padding: 10px;
  background-color: var(--color-2);
  border-radius: 15px;
  box-shadow: 8px 8px 0px 0px var(--color-3);
}

#title {
  justify-content: flex-start;
  font-weight: bold;
  font-size: 60px;
  color: var(--color-1);
  margin: 5px 10px;
}

#nav {
  margin: 10px 0px;
}

.nav-link {
  color: var(--color-2);
  font-size: 35px;
  padding: 20px 70px;
}

.nav-link:first-child {
  padding-left: 0px;
}

.nav-link:last-child {
  padding-right: 0px;
}

.nav-link:hover {
  color: var(--color-3);
}

.post-list {
  padding: 20px 60px;
  margin-top: 30px;
}

.post {
  border: 5px solid var(--color-1);
  border-top: none;
  margin-top: 20px;
}

.post-head {
  display: flex;
  background-color: var(--color-1);
  justify-content: space-between;
  align-items: center;
}

.post-title {
  margin: 10px 40px;
  color: var(--color-3);
  font-weight: bold;
  text-decoration: none;
  font-size: 50px;
}

.post-title:hover {
  color:var(--color-4);
}

.post-info {
  margin: 10px 40px;
  color: var(--color-3);
  font-size: 30px;
}

.post-text {
  margin: 10px 40px;
  font-size: 35px;
  color: var(--color-1);
}

.comments {
  display: flex;
  padding-top: 0px;
  margin-top: 0px;
}

.comments-header {
  margin: 5px 0px;
}

.comment {
  border: 5px solid var(--color-1);
  border-radius:10px;
  margin-bottom: 10px;
}

.comment-head {
  display: flex;
  background-color: var(--color-1);
  justify-content: space-between;
  align-items: center;
}

.comment-info {
  margin: 10px 10px;
  color: var(--color-3);
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.comment-text {
  margin: 10px 40px;
  font-size: 20px;
  color: var(--color-1);
}

.login-form {
  background-color: var(--color-2);
  box-shadow: 8px 8px 0px 0px var(--color-5);
  border-radius:10px;
  margin: 20px;
  margin-bottom: 30px;
}

.signup-form {
  background-color: var(--color-2);
  box-shadow: 8px 8px 0px 0px var(--color-5);
  border-radius:10px;
  margin: 20px;
}

.form-container {
  margin-top: 40px;
  background: rgb(34,16,15,0.85);
  padding: 20px;
  border-radius: 20px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-divider-header {
  color: var(--color-2);
}

.form-header {
  color: var(--color-1);
  text-decoration: underline;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: var(--color-6);
  border: none;
} 

.btn-primary:hover {
  background-color: var(--color-7);
  border: none;
}

.form-wrapper {
  margin: 10px 0px;
}

.form-section{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 32px;
  padding-top: 0px;
  background-color: var(--color-1);
  border-radius: 20px;
}

.form-label-override {
  font-size: 30px;
  color: var(--color-2);
}

#comment-text {
  margin-bottom: 10px;
}

.btn-secondary {
  background-color: var(--color-2);
  border:none;
  color: var(--color-1);
  font-weight: bold;
}

.btn-secondary:hover {
  border:none;
  color: var(--color-1);
  background-color: var(--color-3);
}

#comment-text {
  margin-bottom: 15px;
}

.edit-title {
  width: 95%;
}

.edit-text {
  width: 95%;
}

.delete-post-btn {
  font-size: 30px;
}

.save-post-btn {
  font-size: 30px;
}

hr {
  margin: 2rem 0rem;
  height: 3px;
  border-radius: 5px;
  background-color: var(--color-1);
}

.dashboard {
  text-decoration: none;
  font-size: 2rem;
}

.edit-post {
  margin-bottom: 0px;
}

.edit-body {
  background-color: rgb(87, 66, 65);
}



